<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/Test" version="1.0.0" viewmodes="maximized">
    <tizen:application id="AFI7nKNq1w.Test" package="AFI7nKNq1w" required_version="6.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Test</name>
    <tizen:profile name="wearable"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
	<tizen:privilege name="http://tizen.org/privilege/location"/>
</widget>
